.todoListText {
  margin: 0;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 18px;
  color: #fff;
}

.input {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

.completed {
  background: green;
}

.skipped {
  background: red;
}
.initial {
  background: transparent;
}
